@import '../bower_components/foundation/scss/foundation/settings';
@import '../bower_components/foundation/scss/foundation';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;

  img.right {
    width: 50px;
  }
}

.mod-selector {
  margin-top: .3em;
  display: inline-block;
  width: 5em;
  float: right;
}

.module-header-main {
  display: inline-block;
  vertical-align: center;
  transform: translateY(.4em);
}

.module-header {
  display: inline-block;
  vertical-align: center;
  transform: translateY(.25em);
}

.headline {
  transform: translateY(-11px);
}

.calcValue {
  transform: translateY(12px);
}

.brix {
  transform: translateY(20px);
}

// .amber {
//   background-color: blue !important;
// }

// .stout {
//   background-color: blue !important;
// }

// .pilsener {
//   background-color: blue !important;
// }