<div class="row" ng-controller='ABVCtrl'>
  <div class="medium-6 columns">
    <form action="">
      <div class="row"><div class="small-6 columns"><label>Original Gravity:</label></div><div class="small-4 columns"><input type="text" ng-model="originalGravity" name=""></div><div class="small-2 columns"></div></div>
      <div class="row"><div class="small-6 columns"><label>Final Gravity:</label></div><div class="small-4 columns"><input type="text" ng-model="finalGravity" name=""></div><div class="small-2 columns"></div></div>
    </form>
  </div>
  <div class="medium-6 columns">
    <div class="row"><div class="small-6 columns"><h3 class="calcValue">ABV:</h3></div><div class="small-6 columns"><h3 class="calcValue">{{abv(originalGravity, finalGravity)}}%</h3></div></div>
  </div>
</div>