<div class="row" ng-controller='hydroTempCtrl'>
  <div class="medium-6 columns">
    <form action="">
      <div class="row"><div class="small-6 columns"><label>Liquid Temperature:</label></div><div class="small-4 columns"><input type="text" ng-model="measuredTemp" name=""></div><div class="small-2 columns"></div></div>
      <div class="row"><div class="small-6 columns"><label>Hydrometer Calibration:</label></div><div class="small-4 columns"><input type="text" ng-model="calTemp" name=""></div><div class="small-2 columns"></div></div>
      <div class="row"><div class="small-6 columns"><label>Measured SG:</label></div><div class="small-4 columns"><input type="text" ng-model="uncorrectedSG" name=""></div><div class="small-2 columns"></div></div>
    </form>
  </div>
  <div class="medium-6 columns">
    <div class="row"><div class="small-6 columns">Fahrenheit  <input type="radio" name="degF" ng-model="degF" ng-value="true"></div><div class="small-6 columns">Celsius  <input type="radio" name="degC" ng-model="degF" ng-value="false"></div></div>
    <div class="row"><div class="small-2 columns"></div><div class="small-10 columns"><h3 class="calcValue">Corrected SG:</h3></div></div>
    <div class="row"><div class="small-3 columns"></div><div class="small-9 columns"><h2 class="calcValue">{{correctedHydrometer(measuredTemp, calTemp, uncorrectedSG)}}</h2></div></div>
  </div>
</div>