<nav class="top-bar row">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">BrewAssist</a></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="large-12 large-text-center columns">
    <div class="panel">
      <img class='right' src="images/beer16.png" alt="Love Beer!" height='80' width='80'><br>
      <h2 class="headline">Welcome to BrewAssist!</h2><br>
      <form action="">
        E-mail Address: <input type="email" name="email" ng-model='user.email'><br>
        Password: <input type="password" name="password" ng-model='user.password'><br>
      </form>
      <h3 ng-show='successfulRegistration'>Thank you for registering. You may now log in.</h3>
      <h3 ng-show='invalidPassword'>The password was invalid. Please try again.</h3>
      <button class="radius" ng-click='login(user.email, user.password)'>Log In</button>   or   <button class="radius" ng-click='register(user.email, user.password)'>Register</button>
    </div>
  </div>
</div>
<small>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0">CC BY 3.0</a></small>