<nav class="top-bar row">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">BrewAssist</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a ng-href="#">Log Out</a></li>
      <li><a ng-href="#">Profile</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-12 large-text-center columns">
    <div class="panel">
      <img src="images/free-beer.jpg" alt="Love Beer!" height='80' width='80'><br>
      <h2>Let's Brew Some Beer</h2>
      <p>Calculator, formula, and timer modules for brew day.</p>
      <p><a class="button radius" ng-href="#">Browse Modules</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" ng-repeat="calc in brewCalculators | orderBy:'rank'">
    <div class="th">
      <img class="right" ng-src="images/free-beer.jpg" alt="{{calc.title}}" height='42' width='42'>
      <div class="caption">
        <h3>{{calc.title}}</h3>
        <p>{{calc.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
    <p>Created by <a href="https://github.com/danielbentonturner">Daniel Turner</a></p>
  </div>
</div>
