<nav class="top-bar row" ng-class="colorScheme">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/main">BrewAssist</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
<!--       <li><a ng-href="#/profile">Profile</a></li> -->
      <li><a ng-click='logout()'>Log Out</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-12 large-text-center columns">
    <div class="panel">
      <img class='right' src="images/beer16.png" alt="Love Beer!" height='80' width='80'><br>
      <h2 class="headline">Let's Brew Some Beer</h2>
      <p>Calculator, formula, and timer modules for brew day.</p>
      <p><a class="button radius" ng-href="#/modules">Browse Modules</a></p>
    </div>
  </div>
</div>


<div class="row" ng-repeat="calc in brewCalculators">
  <div class="large-12 columns" ng-show='userModules[calc.key]'>
    <div class="th">
      <div class="row">
        <div class="large-12 columns"> 
          <a class="fa fa-times fa-3x right" ng-click='removeModule(calc.key)'></a>
        </div>
      </div>
      <div class="caption">
        <div class="module-header-main">
          <h3>{{calc.title}}</h3>
        </div>
        <p>{{calc.description}}</p>
        <div ng-include='calc.template.url'>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
    <p>Created by <a href="https://github.com/danielbentonturner">Daniel Turner</a></p>
  </div>
</div>
