<nav class="top-bar row">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">BrewAssist</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a ng-href="#">Log Out</a></li>
      <li><a ng-href="#/profile">Profile</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-12 large-text-center columns">
    <div class="panel">
      <img src="images/free-beer.jpg" alt="Love Beer!" height='80' width='80'><br>
      <h2>Available Modules</h2>
      <p>Select the modules you'd like displayed on the main page.</p>
      <p><a class="button radius" ng-href="#">Save Selected Modules</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" ng-repeat="calc in brewCalculators | orderBy:'rank'">
    <div class="th">
      <div>
        <div class="module-header">
          <h3>{{calc.title}}</h3>
        </div>
        <div class="mod-selector switch round large">
          <input id="{{calc.key}}" type="checkbox" name="selectedModule">
          <label for="{{calc.key}}"></label>
        </div>
      </div>
      <p>{{calc.description}}</p>
    </div>
  </div>
</div>
