<nav class="top-bar row">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">BrewAssist</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a ng-href="#/profile">Profile</a></li>
      <li><a ng-click='logout()'>Log Out</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-12 large-text-center columns">
    <div class="panel">
      <img class='right' src="images/beer16.png" alt="Love Beer!" height='80' width='80'><br>
      <h2 class="headline">Available Modules</h2>
      <p>Select the modules you'd like displayed on the main page.</p>
      <a class="button radius" ng-href="#/main">Use Modules</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" ng-repeat="calc in brewCalculators">
    <div class="th">
      <div>
        <div class="module-header">
          <h3>{{calc.title}}</h3>
        </div>
        <div class="mod-selector switch round large">
          <input id={{calc.key}} 
            type="checkbox" 
            name="selectedModule"
            ng-model='userModules[calc.key]'
            ng-change='switchModule(calc.key)'>
          <label for={{calc.key}}></label>
        </div>
      </div>
      <p>{{calc.description}}</p>
    </div>
  </div>
</div>