<div class="row" ng-controller='refracCtrl'>
  <div class="medium-6 columns">
    <form action="">
      <div class="row brix"><div class="small-4 columns"><label>Brix reading:</label></div><div class="small-4 columns"><input type="text" ng-model="brix" name=""></div><div class="small-4 columns"></div></div>
    </form>
  </div>
  <div class="medium-6 columns">
    <div class="row"><div class="small-6 columns"><h3 class="calcValue">Specific Gravity:</h3></div><div class="small-6 columns"><h3 class="calcValue">{{findSG(brix)}}</h3></div></div>
  </div>
</div>