<div class="row" ng-controller='spargeCalcCtrl'>
  <div class="small-6 columns">
    <form action="">
      <div class="row"><div class="small-4 columns"><label>Original Gravity:</label></div><div class="small-4 columns"><input type="text" ng-model="originalGravity" name=""></div><div class="small-4 columns"></div></div>
      <div class="row"><div class="small-4 columns"><label>Final Gravity:</label></div><div class="small-4 columns"><input type="text" ng-model="finalGravity" name=""></div><div class="small-4 columns"></div></div>
    </form>
  </div>
  <div class="small-6 columns">
    <div class="row"><div class="small-6 columns"><h2 class="calcValue">ABV:</h2></div><div class="small-6 columns"><h2 class="calcValue"></h2></div></div>
  </div>
</div>